.row {
    padding: 0;
    margin: 0;
    display: flex;
}

.col {    
    flex-grow: 1;    
}

.col__flex-grow--3 {    
    flex-grow: 3; 
}

.col__align-items--center {    
    align-self: center;
}

.col__justify-content--end {    
    display: flex;
    justify-content: flex-end;
}

.col__justify-content--center {    
    display: flex;
    justify-content: center;
}
